In [ ]:
import io
import datetime
import random as rn
import seaborn as sns
import numpy as np
import pandas as pd
import os
import math
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

make a folder 'project519' in the drive, add the Val and Train CSVs

In [ ]:
# path_1 = r"/content/drive/SharedDrives/project519/MHVU_Val.csv"
# path_2 = r"/content/drive/SharedDrive/project519/MHVU_Train.csv"
df_1 = pd.read_csv('/content/drive/Shared drives/project519/CSVs/MHVU_Val.csv')
df_2 = pd.read_csv('/content/drive/Shared drives/project519/CSVs/MHVU_Train.csv')
# df_1 = pd.read_csv(path_1) #10056 rows × 4 columns
# df_2 = pd.read_csv(path_2) #129627 rows × 4 columns

In [ ]:
df_1['tags_list'] = np.empty((len(df_1), 0)).tolist()
df_2['tags_list'] = np.empty((len(df_2), 0)).tolist()

In [ ]:
df_1

,Tags,youtube_id,time_start,time_end,tags_list
0,sport_venue|hip|joint|physical_exercise|ball_g...,-7arnYZJjKE,104,114,[]
1,day|cheek|pink|blond|leg|girl|fun|human_hair_c...,54OeCiZcXQQ,15,25,[]
2,fashion|event|music|playing_didgeridoo|reed_in...,L9yPCYk1Ltc,76,86,[]
3,foot|water|fun|livestock|vertebrate|joint|musc...,rpyUVF9yq0g,0,10,[]
4,darkness|cheek|water|arm|girl|fun|human|close_...,6hH_0IC2KlM,36,46,[]
...,...,...,...,...,...
10051,string_instrument|brand|string_instrument_acce...,lGiyiZh1JbA,92,102,[]
10052,adventure|woody_plant|girl|fun|sport_climbing|...,ptOCEg3wAj0,7,17,[]
10053,sport_venue|dog_breed_group|playing_badminton|...,TPKVrO6DdPw,26,36,[]
10054,parkour|hardwood|pedestrian|infrastructure|leg...,MHQFIdHkza4,34,44,[]
10055,reflection|bottling|paint|bottle|light|industr...,BbSdO2bXQ0M,43,53,[]

In [ ]:
df_2

,Tags,youtube_id,time_start,time_end,tags_list
0,batter|wheel|photo_caption|food|space|dairy_pr...,OVBv5sNL2Jc,487,497,[]
1,sink|bidet|floor|plumbing|toilet_seat|outdoor_...,8z6ldEQtRIQ,63,73,[]
2,musical_instrument|garmon|bandoneon|concertina...,7t6fFNX6Wyo,90,100,[]
3,wheel|automotive_wheel_system|text|sitting|fun...,G5pBXTlRzg8,30,40,[]
4,bow_and_arrow|physical_fitness|ceiling|recreat...,lEQjhTosoDo,0,10,[]
...,...,...,...,...,...
129622,soldier|twig|winter|residential_area|recreatio...,Jqg7IlEaSd8,85,95,[]
129623,pull_ups|snapshot|medical_imaging|computer_wal...,cAzCteOHbs8,42,52,[]
129624,gadget|hand|electronics|technology|finger|disp...,340khi8mSk4,32,42,[]
129625,wood|angle|floor|material|hardware|hardwood|ch...,2kcTwPcZNCI,73,83,[]
129626,snapshot|dance|friendship|dress|recreation|wom...,YEHrvh0mUGI,86,96,[]

In [ ]:
def convert(string):
    li = list(string.split("|"))
    return li

In [ ]:
def split_1(ip_df):
  lol = []
  l = len(ip_df.index)
  for i in range(0,l):
    temp = ip_df['Tags'].iloc[i]
    temp2 = convert(temp)
    lol.append(temp2)
  return lol

    # df['column name'] = df['column name'].replace(['old value'],'new value')

In [ ]:
def split_2(ip_df):
  lol2 = []
  l = len(ip_df.index)
  for i in range(0,l):
    temp = ip_df['Tags'].iloc[i]
    temp2 = convert(temp)
    lol2.append(temp2)
  return lol2

In [ ]:
list1 = split_1(df_1)

In [ ]:
list2 = split_2(df_2)

In [ ]:
# list1

In [ ]:
# list2

In [ ]:
df_1['tags_len'] = 0
df_2['tags_len'] = 0

In [ ]:
l = len(df_1.index)
for i in range(0,l):
  df_1['tags_len'].iloc[i] = df_1['tags_len'].iloc[i] + len(list1[i])
  df_1['tags_list'].iloc[i] = df_1['tags_list'].iloc[i]+ list1[i]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
l = len(df_2.index)
for i in range(0,l):
  df_2['tags_len'].iloc[i] = df_2['tags_len'].iloc[i] + len(list2[i])
  df_2['tags_list'].iloc[i] = df_2['tags_list'].iloc[i]+ list2[i]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df_1

,Tags,youtube_id,time_start,time_end,tags_list,tags_len
0,sport_venue|hip|joint|physical_exercise|ball_g...,-7arnYZJjKE,104,114,"[sport_venue, hip, joint, physical_exercise, b...",22
1,day|cheek|pink|blond|leg|girl|fun|human_hair_c...,54OeCiZcXQQ,15,25,"[day, cheek, pink, blond, leg, girl, fun, huma...",18
2,fashion|event|music|playing_didgeridoo|reed_in...,L9yPCYk1Ltc,76,86,"[fashion, event, music, playing_didgeridoo, re...",10
3,foot|water|fun|livestock|vertebrate|joint|musc...,rpyUVF9yq0g,0,10,"[foot, water, fun, livestock, vertebrate, join...",30
4,darkness|cheek|water|arm|girl|fun|human|close_...,6hH_0IC2KlM,36,46,"[darkness, cheek, water, arm, girl, fun, human...",20
...,...,...,...,...,...,...
10051,string_instrument|brand|string_instrument_acce...,lGiyiZh1JbA,92,102,"[string_instrument, brand, string_instrument_a...",17
10052,adventure|woody_plant|girl|fun|sport_climbing|...,ptOCEg3wAj0,7,17,"[adventure, woody_plant, girl, fun, sport_clim...",15
10053,sport_venue|dog_breed_group|playing_badminton|...,TPKVrO6DdPw,26,36,"[sport_venue, dog_breed_group, playing_badmint...",22
10054,parkour|hardwood|pedestrian|infrastructure|leg...,MHQFIdHkza4,34,44,"[parkour, hardwood, pedestrian, infrastructure...",15
10055,reflection|bottling|paint|bottle|light|industr...,BbSdO2bXQ0M,43,53,"[reflection, bottling, paint, bottle, light, i...",21

In [ ]:
df_2

,Tags,youtube_id,time_start,time_end,tags_list,tags_len
0,batter|wheel|photo_caption|food|space|dairy_pr...,OVBv5sNL2Jc,487,497,"[batter, wheel, photo_caption, food, space, da...",27
1,sink|bidet|floor|plumbing|toilet_seat|outdoor_...,8z6ldEQtRIQ,63,73,"[sink, bidet, floor, plumbing, toilet_seat, ou...",23
2,musical_instrument|garmon|bandoneon|concertina...,7t6fFNX6Wyo,90,100,"[musical_instrument, garmon, bandoneon, concer...",14
3,wheel|automotive_wheel_system|text|sitting|fun...,G5pBXTlRzg8,30,40,"[wheel, automotive_wheel_system, text, sitting...",31
4,bow_and_arrow|physical_fitness|ceiling|recreat...,lEQjhTosoDo,0,10,"[bow_and_arrow, physical_fitness, ceiling, rec...",27
...,...,...,...,...,...,...
129622,soldier|twig|winter|residential_area|recreatio...,Jqg7IlEaSd8,85,95,"[soldier, twig, winter, residential_area, recr...",31
129623,pull_ups|snapshot|medical_imaging|computer_wal...,cAzCteOHbs8,42,52,"[pull_ups, snapshot, medical_imaging, computer...",29
129624,gadget|hand|electronics|technology|finger|disp...,340khi8mSk4,32,42,"[gadget, hand, electronics, technology, finger...",15
129625,wood|angle|floor|material|hardware|hardwood|ch...,2kcTwPcZNCI,73,83,"[wood, angle, floor, material, hardware, hardw...",9
129626,snapshot|dance|friendship|dress|recreation|wom...,YEHrvh0mUGI,86,96,"[snapshot, dance, friendship, dress, recreatio...",31

In [ ]:
for i in range(0, l):
  

# df_1['link'] = "/content/drive/Shareddrives/project519/videos/"+str(df_1.index)+".f278.webm"
# df_2['link'] = "/content/drive/Shareddrives/project519/videos/"+str(df_2.index)+".f278.webm"

SyntaxError: ignored

In [ ]:
df_2.head(2)

,Tags,youtube_id,time_start,time_end,tags_list,tags_len
0,batter|wheel|photo_caption|food|space|dairy_pr...,OVBv5sNL2Jc,487,497,"[batter, wheel, photo_caption, food, space, da...",27
1,sink|bidet|floor|plumbing|toilet_seat|outdoor_...,8z6ldEQtRIQ,63,73,"[sink, bidet, floor, plumbing, toilet_seat, ou...",23

In [ ]:
df_a = df_1[['Tags', 'youtube_id', 'link']] #val
df_b = df_2[['Tags', 'youtube_id', 'link']] #train

KeyError: ignored

In [ ]:
df_train_head = df_b.head(10000)

NameError: ignored

In [ ]:
df_train_head.head(2)

NameError: ignored

In [ ]:
# output_filename = "train_data_10000"
# # output_filename = "val_data"
# df_train_head.to_csv(output_filename)
# from google.colab import files
# files.download(output_filename)

In [ ]:
for i in range(0, 10000):
  df_train_head.replace(df_train_head['link'].iloc[i], "/content/drive/Shareddrives/project519/videos/"+str(i)+".f278.webm")

NameError: ignored

In [ ]:
df_train_head['link'].iloc[0]

NameError: ignored

In [ ]:
df_head = df_train_head[['Tags', 'youtube_id']]

NameError: ignored

In [ ]:
ll = []

In [ ]:
for i in range (0, 10000):
  ll.append("/content/drive/Shareddrives/project519/videos/"+str(i)+".f278.webm")

In [ ]:
dfs = df_head.assign(link =ll)

NameError: ignored

In [ ]:
# output_filename = "train_data_10000"
# dfs.to_csv(output_filename)
# from google.colab import files
# files.download(output_filename)

In [ ]:
"""
import pandas as pd

df = pd.read_csv('/content/drive/Shared drives/project519/CSVs/train_data_10000.csv')
df.head(5)

for iter in range(0, 10000):
  try:
    temp_link = df['link'].iloc[iter]
    cap = cv2.VideoCapture(temp_link)
    fps = int(cap.get(cv2.CAP_PROP_FPS))
    frame_count = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))

    for i in range(int(frame_count/fps)):
      arr_frame=[]
      arr_lap=[]
      for j in range(fps):
        success, frame = cap.read()
        laplacian = cv2.Laplacian(frame, cv2.CV_64F).var()
        arr_lap.append(laplacian)
        arr_frame.append(frame)
      selected_frame = arr_frame[arr_lap.index(max(arr_lap))]
      cv2.imwrite(f"{i}.jpg", selected_frame)

      """

      #Whatever you add, add in this try block, this loop works for each link, copy pasting the rest of the code should work. I will add the code for df later in the project report. First test for 10 videos or something, then we can do 10000

      """


  except:
    pass
"""