In [ ]:
import io
import datetime
import random as rn
import seaborn as sns
import numpy as np
import pandas as pd
import os
import math
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/Shared drives/project519/CSVs/out.csv')

In [ ]:
df

      Unnamed: 0             X       y         max_sim
0              0         angle  screen  [[0.27835232]]
1              1         bidet   radio  [[0.15524599]]
2              2  accordionist   radio  [[0.22383814]]
3              3      document    rule  [[0.17526124]]
4              4     structure    rule   [[0.2607423]]
...          ...           ...     ...             ...
2410        2410          ball    ball   [[1.0000001]]
2411        2411        toilet  toilet   [[1.0000001]]
2412        2412           arm    neck  [[0.47235408]]
2413        2413           sky   solar  [[0.22821741]]
2414        2414           sky     saw    [[0.191848]]

[2415 rows x 4 columns]

In [ ]:
temp = df

In [ ]:
l = len(df.index)
for i in range(0, l):
  df['max_sim'].iloc[i] = df['max_sim'].iloc[i].strip('[]').strip('[]')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df

      Unnamed: 0             X       y     max_sim
0              0         angle  screen  0.27835232
1              1         bidet   radio  0.15524599
2              2  accordionist   radio  0.22383814
3              3      document    rule  0.17526124
4              4     structure    rule   0.2607423
...          ...           ...     ...         ...
2410        2410          ball    ball   1.0000001
2411        2411        toilet  toilet   1.0000001
2412        2412           arm    neck  0.47235408
2413        2413           sky   solar  0.22821741
2414        2414           sky     saw    0.191848

[2415 rows x 4 columns]

In [ ]:
  df["max_sim"] = pd.to_numeric(df["max_sim"])

In [ ]:
type(df['max_sim'].iloc[0])

numpy.float64

In [ ]:
df['rms'] = 0.33

In [ ]:
df

      Unnamed: 0             X       y   max_sim   rms
0              0         angle  screen  0.278352  0.33
1              1         bidet   radio  0.155246  0.33
2              2  accordionist   radio  0.223838  0.33
3              3      document    rule  0.175261  0.33
4              4     structure    rule  0.260742  0.33
...          ...           ...     ...       ...   ...
2410        2410          ball    ball  1.000000  0.33
2411        2411        toilet  toilet  1.000000  0.33
2412        2412           arm    neck  0.472354  0.33
2413        2413           sky   solar  0.228217  0.33
2414        2414           sky     saw  0.191848  0.33

[2415 rows x 5 columns]

In [ ]:
dfa = df[df['max_sim']> 0.33]
dfa

      Unnamed: 0               X           y   max_sim   rms
5              5            nose        neck  0.498088  0.33
6              6           thumb        neck  0.443892  0.33
9              9            font      screen  0.353911  0.33
10            10  mountaineering     dogsled  0.341485  0.33
12            12          pillow         bag  0.413424  0.33
...          ...             ...         ...       ...   ...
2403        2403      monochrome   projector  0.402788  0.33
2409        2409         stadium  scoreboard  0.381824  0.33
2410        2410            ball        ball  1.000000  0.33
2411        2411          toilet      toilet  1.000000  0.33
2412        2412             arm        neck  0.472354  0.33

[902 rows x 5 columns]

In [ ]:
for i in range(0, l):
  df['rms'].iloc[i] = (df['rms'].iloc[i] - df['max_sim'].iloc[i])**2

In [ ]:
df

In [ ]:
arr = df['rms'].tolist()
s = sum(arr)
ans = (s/l)**(0.5)

In [ ]:
ans

In [ ]:
temp2 = df[df['max_sim']>0.33]

In [ ]:
temp2

In [ ]:
y_arr = temp2['y'].tolist()
# y_arr

In [ ]:
df_v = pd.read_csv('/content/drive/Shared drives/project519/CSVs/val_data.csv')

In [ ]:
df_v

In [ ]:
def common_data(list1, list2):
    result = 0
  
    # traverse in the 1st list
    for x in list1:
  
        # traverse in the 2nd list
        for y in list2:
    
            # if one common
            if x == y:
                result = 1
                return result 
                  
    return result

In [ ]:
l = len(df_v.index)
for i in range(0,l):
  df_v['Tags'].iloc[i] = df_v['Tags'].iloc[i].split('|')
  p = len(df_v['Tags'].iloc[i])
  if common_data( df_v['Tags'].iloc[i],y_arr):

In [ ]:
df_v

In [ ]:
type(df_v['Tags'].iloc[0])

In [ ]:
common_data(df_v['Tags'].iloc[9], [])

In [ ]:
df_v['common'] = 0
l = len(df_v.index)
for i in range(0,l):
  temp_list = df_v['Tags'].iloc[i]
  val = common_data( temp_list,y_arr)
  df_v['common'].iloc[i] = val

In [ ]:
df_v

In [ ]:
df_final = df_v[df_v['common'] == 1]

In [ ]:
df_final

In [ ]:
output_filename = "out2.csv"
df_final.to_csv(output_filename)
from google.colab import files
files.download(output_filename)